
.main-content {
  display: flex;
  flex-direction: column;
}
.add-note {
  display: flex;
  justify-content: center;
  margin-block-start: 1em;
}

.add-note #user-input {
  min-width: 50vw;
  border-radius: 0.4em;
  border: 1px solid lightgray;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.275);
  font-weight: 700;
  font-size: 1em;
}


