.note-list ul {
    columns: 4 275px;
    column-gap: 1rem;
    padding: 2em 4em;
  }
  
  .note-list ul li {
    margin-block-start: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    break-inside: avoid-column;
    border: 1px solid rgb(214, 214, 214);
    height: fit-content;
    border-radius: 0.5em;
    font-size: 0.8em;
    padding: 0.2em;
    cursor: pointer;
  }
  
  .note-list ul li .txt{
    margin-block-start: 1em;
    
  }
  
  .note-list ul li:nth-child(1) {
    margin-block-start: 0;
  }
  
  .note-list .action-btn{
    opacity: 0;
    margin-block-start: 4em;
    transition: 0.6s;
    text-align: center;
  }
  .note-list ul li:hover .action-btn {
    opacity: 1;
  }
  .note-list .action-btn > * {
    all: initial;
    color: #000000;
    cursor: pointer;
  }

  .note-list .note-list .img-note .img-preview {
    display: block;
  }

  .note-list .color-pallte {
    display: flex;
    justify-content: center;
    z-index: 1;
    font-size: 2em;   
    background-color: white; 
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid rgba(128, 128, 128, 0.19);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.281);   
  }

  .note-list .color-pallte >* {
    border-radius: 0.1em;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0.15em;
    cursor: pointer;
  }

  .note-list .color-pallte .red {
    background-color: #ff7070;
  }
  .note-list .color-pallte .blue {
    background-color: #7676ff;
  }
  .note-list .color-pallte .green {
    background-color: #79ff79;
  }
  .note-list .color-pallte .yellow {
    background-color: #ffff78;
  }
  .note-list .color-pallte .pink {
    background-color: #ff728a;
  }
  .note-list .color-pallte .purple {
    background-color: #cc79ff;
  }
  .note-list .color-pallte .white {
    background-color: #ffffff;
    border: 1px solid rgba(128, 128, 128, 0.401);
  }
  .note-list .color-pallte .orange {
    background-color: #ffc472;
  }

  .note-list .user-text {
    line-break: anywhere;
  }

  .note-list .video-conteiner,.text-conteiner,.todo-conteiner {
    position: relative;
    padding: 1em;
  }
  .note-list .video-conteiner {
    text-align: center;
  }
  .note-list .img-conteiner h2 {
    position: absolute;
    padding: 0.6em;
    color: white;
    text-shadow: 0 0 1px black;
  }


  .note-list ul li .active{
    opacity: 0;
    position: absolute;
    left: -1.8em;
    top:-0.8em;
    z-index: 5;
    transition: 0.8s;
    cursor: pointer;
  }
  .note-list ul li:hover .active,
  .note-list ul li:hover .pin {
    opacity: 1;
  }
  
  .note-list .todos-list {
    display: flex;
    align-items: center;
  }
  
  .note-list .todos-list > * {
    cursor: pointer;
    margin-block:0.5em ;

  }
  
  .note-list .pin {
    position: absolute;
    right: 0;
    top: 5%;
    opacity: 0;
    transition: 0.8s;
    cursor: pointer;
  }
  
  .todo-container .todo-title {
    padding: 1em;
  }
  .todo-container .todos-list .todo-input {
    margin-inline-end: 2em;
  }
  
  .material-symbols-outlined {
    color: grey;
  }