.side-bar-conteiner {
    display: flex;
    z-index: 5;
    padding: 0 1em;
    margin-inline-start: -1.5em;
}

.side-bar-conteiner ul {
    min-width: 300px;
    margin-inline-end: 2em;
    overflow: hidden;
}

.side-bar-conteiner .side-bar-list li {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    margin-block: 0.5em;
    padding: 1em;
    border-radius: 2em;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;
}

.side-bar-conteiner .side-bar-list li:hover {
    background-color: rgba(255, 166, 0, 0.314);
}

.side-bar-conteiner .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 40;

    margin-inline-end: 0.4em;
}